body {
  background-color: black;
  font-family: Calibri;
  color: #5e5c56;
}
h1, h2, h3{
  color: #c0cb7f;
  font-family: Arial;
}
table{
  border: 1px #a64626;
    border-collapse: collapse;
    background-color: #222222;
    font-weight: bold;
    text-align: center;
    width: 250px;
}
a{
  color: #677f51;
  text-decoration: none;
}
a:hover{
 text-decoration: underline;
}
ul{
  list-style-type: square;
}
ol{
  list-style-type: lower-greek;
}
dt{
  color: #a64626;
  font-style: italic;
}